dcpu_emulator/Debug/dcpu_emulator.tlog/CL.write.1.tlog
dcpu_emulator/Debug/
Debug/
ipch/
.vs/dcpu_emulator/v14/.suo
dcpu_emulator.opensdf
dcpu_emulator.sdf
dcpu_emulator.v12.suo
dcpu_emulator/demo_asm/rain.bin
